---
import Base from '@layouts/base.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');

const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});
const urls = posts.map((post) => `https://davesnider.com/posts/${post.slug}`);
---

<Base>
  <div class="hello">
    <h1 class="animate-item">Hello, I'm <a href="/about">Dave</a></h1>
  </div>
  {
    sortedPosts.map((post, index) => {
      if (post.data.image) {
        return (
          <a href={`/posts/${post.slug}`} class="feedItem animate-item has-image">
            <img src={post.data.image.src} alt={post.data.image.alt} />
            <div class="imageInner">
              <h3>{post.data.title}</h3>
              <p>{post.data.description}</p>
            </div>
          </a>
        );
      }
      return (
        <a href={`/posts/${post.slug}`} class="feedItem animate-item">
          <h3>{post.data.title}</h3>
          <p>{post.data.description}</p>
        </a>
      );
    })
  }
</Base>

<style define:vars={{}}>
  .feedItem {
    display: block;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
  }
  .feedItem:hover,
  .feedItem:focgus {
    border-color: var(--fg);
  }
  .feedItem:hover h3,
  .feedItem:focus h3 {
    background-color: var(--fg);
    color: var(--bg);
    outline: solid 4px var(--fg);
  }

  .feedItem.has-image {
    margin: 0.5rem auto;
    background-position: center center;
    height: 400px;
    padding: 0;
    max-width: 42rem;
    overflow: hidden;
  }
  .feedItem.has-image img {
    transition: all 0.2s ease-in-out;
    filter: grayscale(100%);
    opacity: 0.3;
  }

  .feedItem.has-image:hover img,
  .feedItem.has-image:focus img {
    filter: none !important;
    opacity: 1 !important;
  }

  html[data-theme='dark'] .feedItem.has-image img {
    filter: grayscale(100%);
  }

  html[data-theme='light'] .feedItem.has-image img {
    filter: grayscale(100%);
  }

  p {
    margin-top: 0.5rem;
  }
  .imageInner {
    background: var(--bg);
    display: inline-block;
    height: 'auto';
    padding: 1rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    max-width: 66%;
  }

  h3 {
    display: inline;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }

  .hello {
    margin: 0 auto;
    max-width: 36rem;
  }

  h1 {
    font-family: 'Sovana', serif;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 3rem !important;
    opacity: 1;
    animation-duration: 0.25s;
    animation-name: slidedown !important;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  .hello a {
    text-decoration: underline;
  }
  .hello a:hover {
    background-color: var(--fg);
    color: var(--bg);
    outline: solid 4px var(--fg);
  }

  @media (max-width: 768px) {
    .feedItem.has-image {
      height: 300px;
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }

    to {
      opacity: 1;
    }
  }
</style>
